[submodule "tests/_v06/rfc5/transform_examples/ngff-rfc5-coordinate-transformation-examples"]
	path = tests/_v06/rfc5/transform_examples/ngff-rfc5-coordinate-transformation-examples
	url = https://github.com/bogovicj/ngff-rfc5-coordinate-transformation-examples
