uv.lock

__pycache__
*.pyc
*checkpoint.py

*.DS_Store

coverage.xml
.coverage*

# Where `mkdocs build` puts local website build
site

# IDE configurations
.idea/

# RFC-5 data
tests/_rfc5_transforms/data_rfc5/full_examples/*
!tests/_rfc5_transforms/data_rfc5/full_examples/.gitkeep
